.navbar-container {
  color: theme-color("light");
  position: relative;
  z-index: 999;
  width: 100vw;
  transition: all 0.5s;
  &.sticky {
    position: fixed;
    .navbar-tabs {
      height: 0;
    }
  }
  .container-fluid {
    background-color: theme-color("secondary");
    z-index: 312;
    .navbar-title {
      height: 3rem;
      width: 3rem;
      img {
        margin-left: 0.5rem;
        height: 100%;
        width: 100%;
      }
    }
    // Navbar Mobile Styling

    &.mobile {
      .navbar-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        .bars {
          transition: 0.5s all;
          &.rotate {
            transform: rotate(90deg);
          }
          z-index: 15321;
          margin-left: 0.5rem;
          font-weight: 400;
          text-align: center;
          height: 2rem;
          width: 2rem;
        }
        .nav {
          z-index: 3000;
          transition: 0.5s all;
          &.show {
            transform: translateX(0);
          }
          transform: translateX(-150%);
          padding-top: 3.5rem;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.9);
          height: 100vh;
          width: 50%;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          text-align: center;

          li {
            &:first-child {
              border-top: 1px solid white;
            }
            width: 100%;
            height: auto;
            overflow: hidden !important;
            height: 3rem;
            border-bottom: 1px solid white;

            a {
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: left;
              --h: 2.5em; /* the height */
              color: white;
              font-size: 20px;
              line-height: 2rem;
              overflow: hidden !important;
              height: 3rem;
              svg {
                margin: 0 0.5rem;
              }
              .basket-indicator {
                background-color: #fff;
                color: black;
                width: 1.7rem;
                height: 1.8rem;
              }
            }
          }
        }

        img {
          margin-left: 0.5rem;
          height: 2.5rem;
          width: 2.5rem;
        }
      }

      .navbar-user {
        display: flex;
        align-items: center;
        &-photo {
          cursor: pointer;
          width: 50px;
          height: 50px;
          img {
            pointer-events: none;
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }
        }
        &-username {
          font-weight: 500;
          font-size: 16px;
          margin: 0 1.2rem 0 0.5rem;
        }
      }
    }
    // End of Navbar Mobile Styling
  }

  .navbar-links {
    .nav {
      li {
        overflow: hidden;
        a {
          margin-left: 1rem;
          overflow: hidden;
          --h: 1.2em; /* the height */
          line-height: 1.2rem;
          color: #0000;
          text-shadow: 0 var(--_t, var(--h)) #fff, 0 0 var(--_c, #000);
          background: linear-gradient(#1095c1 0 0) bottom/100% var(--_d, 0)
            no-repeat;
          transition: 0.2s;
        }
        a:hover {
          --_d: 100%;
          --_t: 0;
          --_c: #0000;
        }
      }
      .basket-indicator {
        text-align: center;
        border-radius: 5px;
        display: inline-block;
        background-color: theme-color("dark");
        color: white;
        width: 1rem;
      }
    }
  }
  .navbar-user {
    display: flex;
    align-items: center;
    &-photo {
      cursor: pointer;
      width: 50px;
      height: 50px;
      img {
        pointer-events: none;
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }
    }
    &-username {
      font-weight: 600;
      margin: 0 1.5rem 0 0.7rem;
    }
  }
  a {
    color: theme-color("light");
    text-decoration: none;
    transition: all 0.3s;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
    svg {
      margin-right: 1px;
      font-size: 1rem;
    }
  }

  //Login and Signup
  .navbar-tab {
    &-login {
      position: absolute;
      transition: all 0.7s;
      transform: translateY(-100%);

      &.mobile {
        display: flex;
        justify-content: center;

        // Login Mobile
        .login-title {
          font-size: 1rem;
        }
        .login-inputs {
          input {
            margin: 0.5rem 0 !important;
            padding: 0 0 0 0.35rem !important;
            font-size: 13px !important;
          }
        }

        .right {
          form {
            display: flex;
            button {
              white-space: nowrap;
              margin: 7px 0;
              padding: 5px;
              font-size: 0.7rem;
            }
          }
        }
      }

      &.show-login {
        transform: translateY(0);
      }
      .login-title {
        margin-bottom: 0;
      }
      .left {
        .login-form {
          padding: 0 10px;
          .login-inputs {
            input {
              font-size: 0.7rem;
              height: 2rem;
              max-width: 14rem;
              min-width: 7rem;
              margin: 0.8rem 0.5rem;
            }
          }

          a {
            text-align: center;
            font-size: 0.8rem;
          }
        }
      }
      .right {
        .btn-primary {
          margin-bottom: 1rem;
        }
      }
      form {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
    &-signup {
      &.mobile {
        .right {
          width: 30%;
          form {
            display: flex;
            button {
              white-space: nowrap;
              margin: 7px 0;
              padding: 5px;
              font-size: 0.7rem;
            }
          }
        }

        .signup-form {
          width: 70%;
          a {
            font-size: 0.8rem;
            white-space: nowrap;
          }
        }

        .signup-inputs {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .left-inputs,
          .right-inputs {
            padding-bottom: 0 !important;
            input {
              min-width: 8rem !important;
              font-size: 0.7rem !important;
            }
          }
        }
      }
      display: flex;
      justify-content: center;
      transition: all 0.7s;
      transform: translateY(-100%);
      position: absolute;
      &.show-signup {
        transform: translateY(0);
      }
      .left {
        width: 100%;
        form {
          .signup-inputs {
            display: flex;
            .left-inputs,
            .right-inputs {
              width: 90%;
              display: flex;
              flex-direction: column;
              // justify-content: center;
              align-items: center;
              padding-bottom: 0.7rem;
              input {
                font-size: 0.8rem;
                height: 2rem;
                max-width: 14rem;
                min-width: 7rem;
                margin: 0.4rem 0.5rem;
              }
            }
          }
        }
      }

      form {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
    position: relative;
    background-color: theme-color-level("secondary", -10%);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1em 0;
    transition: all 0.7s;
    .login-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      display: inline-block;
      word-break: keep-all;
      white-space: nowrap;
      opacity: 0;

      transition: 0.5s all;
      &.show {
        opacity: 1;
        &.error {
          color: rgb(141, 1, 1) !important;
        }
        &.success {
          color: green !important;
        }
      }
    }
    .signup-message {
      position: absolute;
      top: 50%;
      left: 62%;
      transform: translate(-50%, -50%);
      width: auto;
      display: inline-block;
      word-break: keep-all;
      white-space: nowrap;
      opacity: 0;
      transition: 0.5s all;
      &.show {
        opacity: 1;
        &.error {
          color: rgb(141, 1, 1) !important;
        }
        &.success {
          color: green !important;
        }
      }
    }

    .left,
    .right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
