.trade-container {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.trade {
  user-select: none;
  width: 65%;
  height: 80%;
  background-color: grey;
  border-radius: 5px;
  position: absolute;
}
.trade-options {
  display: flex;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
}

.trade-options a {
  width: 50%;
  color: white;
  font-size: 25px;
  display: inline-block;
  padding: 7px 20px;
}
.trade-options a:nth-child(1) {
  border-right: 1px solid white;
}
.trade-options a:hover {
  color: white;
  background-color: green;
  transition: var(--transition);
  cursor: pointer;
}
.trade-image {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
.trade-image img {
  margin-top: 1rem;
  background-color: #fff;
}

.trade-quantity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.trade-slider {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 17.5rem;
  background-color: white;
  border-radius: 5px;
  z-index: 5;
  position: relative;
}
.trade-slider-value {
  position: absolute;
  width: 100%;
}
.trade-val.left {
  margin-right: 5px;
}
.trade-val.right {
  margin-left: 5px;
}

.trade-slider-value span {
  position: absolute;
  height: 45px;
  width: 45px;
  color: white;
  font-weight: 500;
  top: -80px;
  transform: translateX(-50%);
  line-height: 55px;
  z-index: 3;
}
.trade-slider-value span::after {
  content: '';
  position: absolute;
  height: 45px;
  width: 45px;
  background: green;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 3px solid #fff;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.trade-slide {
  -webkit-appearance: none;
  background: #ddd;
  width: 13rem;
  height: 3px;
  border-radius: 5px;
  outline: none;
}
.trade-slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 19px;
  width: 19px;
  background-color: green;
  border-radius: 50%;
  border: 1px solid green;
  cursor: pointer;
}
