:root {
  --swiper-theme-color: rgb(249, 182, 91, 0.8) !important;
  --trade-color-o: white;
}
.x {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  top: 1rem;
  font-size: 32px;
}
.trade-container {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.trade {
  user-select: none;
  width: 40%;
  height: 76%;
  max-height: auto;
  background-color: grey;
  border-radius: 5px;
  position: absolute;
  outline: 1px solid black;
}
.trade-image {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
.trade-image img {
  margin: 2rem 0 1.5rem;
  border-radius: 25%;
  background-color: #fff;
}

.trade-price {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.trade-price h2 {
  width: 40%;
  color: black;
  font-size: 22px;
  outline: 1px solid white;
  border-bottom: none;
}

.trade-shape {
  margin: 2.7rem 0 1rem;
  width: 100%;
}

.trade-shape ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trade-shape ul li {
  padding: 0.5rem 1.3rem;
  color: black;
  outline: 1px solid black;
  margin: 0 10px;
  border-radius: 10px;
  background: var(--trade-color-o);
}
.trade-shape ul li:hover {
  cursor: pointer;
}
.trade-shape ul li:active {
  background-color: transparent;
}

.trade-size {
  margin: 2rem 0 1rem;
  width: 100%;
}
.trade-size ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trade-size ul li {
  color: black;
  padding: 0.5rem 1rem;
  outline: 1px solid black;
  margin: 0 10px;
  border-radius: 10px;
  background: var(--trade-color-o);
}
.trade-size ul li:hover {
  cursor: pointer;
}
.trade-size ul li:active {
  background-color: transparent;
}

.trade-cart-btns {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7rem;
  text-align: center;
}
.trade-cart-btns button {
  padding: 10px 30px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: green;
  color: white;
  text-shadow: 0px 0px 3px black;
  cursor: pointer;
}

.trade-cart-btns button:active {
  background-color: rgb(1, 103, 1);
}
