::-webkit-scrollbar {
  display: none;
}
.filter option,
select,
.gem p,
.search input {
  font-size: 15px;
}
.main {
  min-height: 81.1vh;
  height: 100%;
}
.main-title h1 {
  font-size: 27px;
}
.main-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem;
}
.search {
  display: flex;
  background-color: rgb(171, 171, 171);
  border-radius: 5px;
  width: 48rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 3rem;
}
.search input {
  user-select: none;
  width: 100%;
  height: 2rem;
  color: white;
  background-color: rgb(171, 171, 171);
  border-radius: 5px;
  border: none;
  text-indent: 5px;
}
.search input::placeholder {
  color: white;
}
.search input:focus {
  outline: none;
}
.filter select {
  cursor: pointer;
  border-radius: 5px;
  height: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(171, 171, 171);
}
.gems-container {
  user-select: none;
  margin: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 0 4rem;
  margin-top: 1rem;
  gap: 2rem;
}

.gem {
  display: flex;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  width: 21rem;
  max-height: 100%;
  height: 24rem;
  display: inline-block;
  text-align: center;
  border: 3px solid grey;
  transition: 400ms all ease-in;
}
.gem > * {
  pointer-events: none;
}
.gem:hover {
  background-color: green;
}
.gem h3 {
  margin: 20px 0;
}
.gem p {
  font-size: 14px;
  line-height: 18px;
  z-index: -5;
  margin: 0 25px;
  margin-top: 1.5rem;
  text-align: center;
}

.gem img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
}
