:root {
  --transition: 400ms all ease-in;
}
::-webkit-scrollbar {
  display: none;
}
.rocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 1.5rem 0 4rem;
  margin: 1rem 15rem 0;
  gap: 2rem;
}
.main-title {
  font-size: 30px;
  text-align: center;
  margin-top: 0.8em;
}
.rock {
  border-radius: 5px;
  position: relative;
  width: 22rem;
  height: auto;
  display: inline-block;
  text-align: center;
  border: 3px solid grey;
}
.rock:hover {
  background-color: green;
  transition: var(--transition);
}
.rock h3 {
  margin: 20px 0;
}
.rock p {
  font-size: 15px;
  padding-bottom: 3.5rem;
  margin: 10px 25px;
  text-align: center;
}
.rock-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  border: none;
  border-radius: 5px;
  width: 8rem;
  height: 2rem;
  color: rgb(19, 235, 19);
  background-color: grey;
}
.rock button:hover {
  background-color: rgb(148, 147, 147);
  cursor: pointer;
}

.rock img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  position: relative;
}
