input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.basket-container {
  display: flex;
  flex-direction: row;
  min-height: 82.8vh;
  max-height: 100%;
  position: relative;
  height: 100%;
}
.basket {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 1rem;
  margin: 0 5.5rem;
  user-select: none;
}
.basket .details {
  text-align: center;
  padding: 1.5rem 0;
}

.basket-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: left !important;
}
.basket-item {
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.5px;
  color: white;
  padding: 15px 5px;
  background-color: green;
  width: 16rem;
  height: 20rem;
  max-height: 100%;
}
.basket-item h3 {
  font-weight: 400;
}
.basket-item img {
  height: 9rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background-color: white;
}
.item-info {
  text-align: center;
  margin-top: 0.2rem;
  width: 12rem;
}

.basket-item p {
  margin-bottom: 0.6rem;
}

.basket-item button {
  background-color: white;
  color: black;
  width: 5rem;
  height: 1.8rem;
  border-radius: 5px;
  border: none;
  outline: 1px solid black;
  cursor: pointer;
  margin-top: 0.8rem;
}
.basket-item button:active {
  background-color: green;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 23%;
  padding-bottom: 5.5rem;
  box-shadow: inset 0 2px 5px 0 black;
  user-select: none;
  overflow: hidden;
  background-color: rgb(255, 174, 0);
}
.checkout h2 {
  padding: 1rem 0;
}
.checkout-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-item {
  display: flex;
  overflow: hidden;
  margin-bottom: 1rem;
  align-items: center;
  height: 3.2rem;
  width: 80%;
  border-radius: 5px;
  background-color: white;
}

.checkout-item img {
  height: 100%;
  width: 3.5rem;
}
.checkout-item p {
  display: flex;
  margin: 0 1rem;
  align-items: center;
  height: 100%;
}
.items-total {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.items-total hr {
  margin-top: 0.8rem;
}
.shipping {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 0.8rem;
}
.shipping-option {
  display: flex;
  justify-content: center;
  margin-bottom: 0.7rem;
}
.shipping-option input {
  margin-right: 0.3rem;
}
.shipping-light {
  color: rgb(232, 232, 232);
  margin-left: 1.3rem;
  font-weight: 700;
  font-size: 15px;
}
.grand-total {
  width: 100%;
}
.total {
  font-size: 21px;
  font-weight: 700;
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}
.total-p {
  color: red;
  font-weight: 700;
}
.checkout-buttons {
  display: flex;
  gap: 1rem;
  width: 80%;
  justify-content: center;
  position: absolute;
  bottom: 1.5rem;
}
.checkout-button {
  font-weight: 600;
  width: 12rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: green;
  color: white;
}
.checkout-button.red {
  width: 6rem;
  background-color: red;
}
.checkout-button:hover {
  cursor: pointer;
}
