input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basket {
  position: relative;
  min-height: 82.8vh;
  height: 100%;
  user-select: none;
}
.basket {
  display: flex;
  flex-direction: column;
}
.basket h2 {
  text-align: center;
  padding: 1.5rem 0;
}

.basket-items {
  display: flex;
  width: 70%;
  margin-left: 3rem;
  flex-wrap: wrap;
  align-items: center;
}
.basket-item {
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.5px;
  color: white;
  padding: 15px 5px;
  background-color: green;
  margin: 1rem;
  width: 16rem;
  height: 20rem;
  max-height: 100%;
}

.basket-item img {
  height: 9rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background-color: white;
}
.item-info {
  text-align: center;
  margin-top: 0.2rem;
  width: 12rem;
}

.basket-item p {
  margin-bottom: 0.6rem;
}

.basket-item button {
  background-color: white;
  color: black;
  width: 5rem;
  height: 1.8rem;
  border-radius: 5px;
  border: none;
  outline: 1px solid black;
  cursor: pointer;
  margin-top: 0.8rem;
}
.basket-item button:active {
  background-color: green;
}
.basket-checkout {
  position: absolute;
  z-index: -3;
  right: 0;
  width: 22%;
  height: 100%;
  background-color: yellow;
}
