input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.basket-container {
  display: flex;
  flex-direction: row;
  min-height: 82.8vh;
  max-height: 100%;
  position: relative;
  height: 100%;
}
.basket {
  width: 77%;
  margin-left: 3.8rem;
  display: flex;
  user-select: none;
  flex-direction: column;
}
.basket h2 {
  text-align: center;
  padding: 1.5rem 0;
}

.basket-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}
.basket-item {
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.5px;
  color: white;
  padding: 15px 5px;
  background-color: green;
  width: 16rem;
  height: 20rem;
  max-height: 100%;
}

.basket-item img {
  height: 9rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background-color: white;
}
.item-info {
  text-align: center;
  margin-top: 0.2rem;
  width: 12rem;
}

.basket-item p {
  margin-bottom: 0.6rem;
}

.basket-item button {
  background-color: white;
  color: black;
  width: 5rem;
  height: 1.8rem;
  border-radius: 5px;
  border: none;
  outline: 1px solid black;
  cursor: pointer;
  margin-top: 0.8rem;
}
.basket-item button:active {
  background-color: green;
}
.checkout {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  width: 23%;
  background-color: rgb(255, 174, 0);
}
.checkout h2 {
  padding: 1rem 0;
}
.checkout-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-item {
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
  align-items: center;
  height: 3.5rem;
  width: 80%;
  border-radius: 5px;
  background-color: white;
}

.checkout-item img {
  height: 100%;
}
.checkout-item p {
  display: flex;
  margin: 0 1rem;
  align-items: center;
  height: 100%;
}