.navbar-container {
  color: theme-color('light');
  position: relative;
  z-index: 999;
  width: 100vw;
  transition: all 0.5s;
  &.sticky {
    position: fixed;
    .navbar-tabs {
      height: 0;
    }
  }
  .container-fluid {
    background-color: theme-color('secondary');
    z-index: 312;
  }
  a {
    color: theme-color('light');
    padding: 0 1em;
    text-decoration: none;
    transition: all 0.3s;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }

  .navbar {
    .navbar-title h3 {
      font-weight: 300;
      padding: 0 0.5em;
      font-size: 1.1rem;
    }

    .navbar-links {
      ul {
        li {
          a {
            color: theme-color('light');
            padding: 0 1em;
            text-decoration: none;
            transition: all 0.3s;
            opacity: 0.75;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .navbar-tabs {
    position: absolute;
    transform: translateY(-130%);
    overflow: hidden;
    &.show-login {
      display: inline-block;
      transform: translateY(0);
    }
    .hi {
      display: none;
    }
    width: 100%;
    background-color: theme-color-level('secondary', -10%);
    transition: all 0.7s;
    overflow: hidden;
    height: auto;
    .navbar-tab {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 1em 0;
      .left,
      .right {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-login {
        .left {
          form {
            .login-title {
              margin-bottom: -1rem;
            }
            .form-group {
              padding-bottom: 1em;
            }
          }
        }
        form {
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
      }
      &-signup {
        .left {
          form {
            .login-title {
              margin-bottom: -1rem;
            }
            .form-group {
              padding-bottom: 1em;
            }
          }
        }
        form {
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
