.navbar-container {
  color: theme-color('light');
  position: relative;
  z-index: 999;
  width: 100vw;
  transition: all 0.5s;
  &.sticky {
    position: fixed;
    .navbar-tabs {
      height: 0;
    }
  }
  .container-fluid {
    background-color: theme-color('secondary');
    z-index: 312;
    .navbar-title {
      height: 3rem;
      width: 3rem;
      img {
        margin-left: 0.5rem;
        height: 100%;
        width: 100%;
      }
    }

    .navbar-links {
      ul {
        li {
          a {
            font-weight: 500;
            color: $white;
            padding: 0 1em;
            text-decoration: none;
            transition: all 0.3s;
            opacity: 0.75;
            &:hover {
              opacity: 1;
            }
          }
        }
        .basket-indicator {
          text-align: center;
          border-radius: 5px;
          display: inline-block;
          background-color: theme-color('dark');
          color: white;
          width: 1rem;
        }
      }
    }
    .navbar-user {
      display: flex;
      align-items: center;
      &-photo {
        cursor: pointer;
        width: 50px;
        height: 50px;
        img {
          pointer-events: none;
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }
      }
      &-username {
        font-weight: 600;
        margin: 0 1.5rem 0 0.7rem;
      }
    }
  }
  a {
    color: theme-color('light');
    padding: 0 1em;
    text-decoration: none;
    transition: all 0.3s;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }

  .navbar-tab {
    position: relative;
    background-color: theme-color-level('secondary', -10%);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1em 0;
    transition: all 0.7s;
    .login-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      display: inline-block;
      word-break: keep-all;
      white-space: nowrap;
      opacity: 0;

      transition: 0.5s all;
      &.show {
        opacity: 1;
        &.error {
          color: rgb(141, 1, 1) !important;
        }
        &.success {
          color: green !important;
        }
      }
    }
    .signup-message {
      position: absolute;
      top: 50%;
      left: 62%;
      transform: translate(-50%, -50%);
      width: auto;
      display: inline-block;
      word-break: keep-all;
      white-space: nowrap;
      opacity: 0;
      transition: 0.5s all;
      &.show {
        opacity: 1;
        &.error {
          color: rgb(141, 1, 1) !important;
        }
        &.success {
          color: green !important;
        }
      }
    }
    .left,
    .right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-login {
      position: absolute;
      transition: all 0.7s;
      transform: translateY(-100%);

      &.show-login {
        transform: translateY(0);
      }
      .left {
        form {
          .login-title {
            margin-bottom: -1rem;
          }
          .form-group {
            padding-bottom: 1em;
          }
        }
      }
      form {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
    &-signup {
      transition: all 0.7s;
      transform: translateY(-100%);
      position: absolute;
      &.show-signup {
        transform: translateY(0);
      }
      .left {
        width: 100%;
        form {
          .signup-inputs {
            display: flex;
          }
          .login-title {
            margin-bottom: -1rem;
          }
          .form-group {
            margin: 0 1rem;
            padding-bottom: 1em;
          }
        }
      }
      .right {
        margin-right: 2rem;
      }
      form {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
