.sidebar {
  transform: translateX(160%);
  transition: 0.5s all;
  display: flex;
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
  flex-direction: column;
  z-index: 110;
  align-items: center;
  min-width: 15%;
  max-width: 25%;

  background-color: hsla(0, 2%, 10%, 0.658);
  &.show {
    transform: translateX(0);
  }
  nav {
    min-width: 100%;
    padding-top: 3rem;
  }
  nav .ul-item {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    padding: 0;
    margin-block: 0.5rem;
    list-style: none;
  }
  .ul-item li {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    padding-left: 0.5rem;
    padding-block: 1.2rem;
    margin-block: 0.1rem;
  }
  .ul-item li .icon {
    margin-right: 1rem;
    color: rgb(83, 206, 255);
    min-width: 1.5rem;
    min-height: 1.5rem;
  }

  nav .ul-item li:hover {
    background-color: rgb(68, 77, 60);
  }

  nav .ul-item li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding-left: -1rem;
    padding-right: 1rem;
    border-right: 1px solid white;
  }
  .menu-icon {
    margin-inline: 1rem;
  }

  .menu-icon .menu {
    color: rgb(0, 255, 145);
    margin-block: 1rem;
    cursor: pointer;
    font-size: 30px;
  }

  nav .ul-item li:hover {
    transition: 1s ease;
  }
}
