.sidebar {
  transform: translateX(100%);
  transition: 0.5s all;
  display: flex;
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
  flex-direction: column;
  z-index: 110;
  align-items: center;
  width: 15%;
  background-color: hsla(0, 2%, 10%, 0.558);
  &.show {
    transform: translateX(0);
  }
  nav {
    padding-top: 3rem;
  }
  nav .ul-item {
    display: flex;
    flex-direction: column;
    margin-block: 0.5rem;
    list-style: none;
  }
  .ul-item li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    cursor: pointer;
    padding-block: 1.2rem;
    margin-block: 0.1rem;
  }
  .ul-item li .icon {
    margin-right: 2rem;
    color: rgb(83, 206, 255);
    font-size: 30px;
  }

  nav .ul-item li:hover {
    background-color: rgb(66, 81, 52);
  }

  nav .ul-item li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid white;
    padding-right: 2rem;
  }
  .menu-icon {
    margin-inline: 1rem;
  }

  .menu-icon .menu {
    color: rgb(0, 255, 145);
    margin-block: 1rem;
    cursor: pointer;
    font-size: 30px;
  }

  nav .ul-item li:hover {
    transition: 1s ease;
  }
}
