.forgot-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: 30rem;
  border-radius: 5px;
  width: 22.5rem;
  background-color: whitesmoke;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.2);
}
.forgot hr {
  position: absolute;
  margin-top: 4.1rem;
  width: 80%;
}
.forgot-lock {
  color: black;
  z-index: 5;
  width: 3rem;
  background-color: whitesmoke;
  margin-top: 2.5rem;
  font-size: 40px;
}
.forgot h2 {
  margin-top: 1rem;
}
