.forgot-container {
  height: 81.1vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot {
  margin-bottom: 4rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: 29rem;
  border-radius: 5px;
  width: 23rem;
  background-color: whitesmoke;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.2);
}
.forgot-lock-hr {
  position: absolute;
  margin-top: 3.5rem;
  width: 80%;
}
.forgot-lock {
  color: black;
  z-index: 5;
  width: 3rem;
  background-color: whitesmoke;
  margin-top: 2rem;
  font-size: 40px;
}
.forgot h3 {
  margin-top: 0.8rem;
}
.forgot p {
  text-align: center;
  margin: 0 2rem;
  margin-top: 0.5rem;
  color: grey;
}
.forgot input {
  margin-top: 1rem;
  height: 2.5rem;
  text-indent: 10px;
  border: 0.5px solid grey;
  border-radius: 5px;
  width: 80%;
}
.forgot button {
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1.3rem;
  height: 2rem;
  width: 80%;
}
.forgot span {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-or-hr {
  margin-top: 1rem;
  width: 7.3rem;
}
.forgot-or-p {
  width: 2rem;
  margin: 1rem 0.5rem 0 !important;
}
.forgot a {
  margin-top: 1.2rem;
  color: rgb(0, 0, 184);
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.forgot-back {
  border: 0.5px solid grey;
  outline: hidden;

  font-size: 16px !important;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black !important;
  position: absolute;
  bottom: 0 !important;
  background-color: rgb(205, 205, 205);
}
