:root {
  --swiper-theme-color: #000 !important;
  --trade-color-o: white;
}

.x {
  z-index: 165613;
  position: absolute;
  right: 2rem;
  cursor: pointer;
  top: 1rem;
  font-size: 32px;
}

.sold {
  background-color: rgb(207, 1, 1) !important;
}
.not-sold {
  background-color: green !important;
}
.trade-container {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.trade {
  user-select: none;
  width: 41%;
  height: 75%;
  max-height: auto;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  /* outline: 1px solid black; */
  box-shadow: 0 0 5px 1px black;
}

.trade-image {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.trade-image img {
  margin: 2rem 0 1.5rem;
  height: 12rem;
  border-radius: 25%;
  background-color: #fff;
}

.trade-price {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.trade-price h2 {
  width: 40%;
  color: black;
  font-size: 22px;
  outline: 1px solid grey;
  border-bottom: none;
}
.the-SEPARATOR {
  margin-bottom: 2.5rem;
}
.trade-buttons {
  margin: 1.7rem 0 1rem;
}

.trade-buttons ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade-buttons ul li {
  outline: 1px solid black;
  margin: 0 10px;
  border-radius: 7px;
  background-color: var(--trade-color-o);
  color: white;
  text-align: center;
}

.trade-buttons.shape ul li {
  width: 5rem;
  height: 2rem;
  padding-top: 7px;
}

.trade-buttons.size ul li {
  color: black;
  padding: 0.5rem 1rem;
}

.trade-buttons ul li:active {
  background-color: transparent;
}

.trade-buttons ul li:hover {
  cursor: pointer;
}
.trade-buttons.color ul li {
  width: 5rem;
  height: 2rem;
}
.trade-cart {
  position: absolute;
  display: flex;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.trade-cart button {
  width: 9rem;
  height: 2.5rem;
  margin: 0 10px;
  border-radius: 5px;
  background-color: green;
  color: white;
  text-shadow: 0px 0px 3px black;
  cursor: pointer;
}

.trade-cart button:active {
  background-color: rgb(1, 103, 1);
}
