:root {
  --footerheight: 3.2rem;
}
.footer {
  user-select: none;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--footerheight);
  background-color: grey;
  color: greenyellow;
}
