* {
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  margin: 0;
}
.nav-items {
  font-size: 25px;
  margin-right: 20px;
}
.navs {
  margin: 10px 0 0 0;
}

.navs .basketIndicator {
  display: none;
  position: absolute;
  text-align: center;
  color: greenyellow;
  border-radius: 2.5px;
  transform: translateX(3px);
  width: 20px;
  height: 28px;
  background-color: rgb(84, 83, 83);
}

.member {
  cursor: pointer;
  display: flex;
  justify-content: end;
  margin-right: 45px;
}

.member a {
  color: white;
  text-decoration: none;
  display: flex;
  padding: 10px 25px;
  margin: 5px 10px;
  border: 2px solid green;
}
.member a:hover {
  background-color: green;
  transition: 0.6s;
}
/* title */
#title {
  color: green;
  text-shadow: 2px 2px black;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 30px;
}

/* Nav items */
.nav-items li a {
  display: inline-block;
  text-decoration: none;
  color: greenyellow;
  margin: 0 15px 35px 15px;
}
.nav-img img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.content h1 {
  text-align: center;
  margin-top: 15px;
}

/* login */

.log-in {
  width: 450px;
  height: 370px;
  z-index: 100;
  text-align: center;
  border: 4px solid black;
  border-radius: 8px;
  position: absolute;
  top: 28%;
  left: 38%;
  background-color: grey;
}

.log-in .title {
  margin: 25px 0;
  font-size: 40px;
  color: black;
}
.x {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 382px;
  top: 25px;
}
.x:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.x::before,
.x::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px; /* cross thickness */
  background-color: black;
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  transform: rotate(-45deg);
}

.log-in input {
  border: none;
  width: 300px;
  height: 30px;
  border-radius: 4px;
}
.log-in #loginStatus {
  color: rgb(182, 10, 10);
  font-size: 22px;
}
.log-in button {
  margin-top: 25px;
  font-size: 18px;
  width: 140px;
  height: 33px;
  background-color: green;
  border-radius: 5px;
}
.log-in input:placeholder-shown {
  font-size: 17px;
  padding-left: 5px;
}
.log-in .login-username {
  margin-bottom: 10px;
}
.log-in button:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.forgot {
  font-size: 20px;
  display: inline-block;
  margin-top: 18px;
  cursor: pointer;
  color: #0d6ce9;
}
.forgot:hover {
  text-decoration: underline;
  transform: scale(1.05);
}
.log-in .create {
  margin-top: 15px;
  font-size: 19px;
  background-color: rgb(255, 74, 3);
  width: 180px;
  height: 35px;
  color: black;
}

/* Sign up */

.sign-up {
  border-radius: 10px;
  width: 530px;
  height: 380px;
  z-index: 100000;
  text-align: center;
  border: 4px solid black;
  position: absolute;
  top: 28%;
  left: 38%;
  background-color: grey;
}
.sign-up .title {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  /* color: rgb(22, 207, 22); */
  color: black;
}

.sign-up .x {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 455px;
  top: 28px;
}

.username,
.pass1,
.pass2 {
  width: 220px;
  height: 30px;
  border-radius: 4px;
  border: none;
  margin-bottom: 25px;
}
.pass1 {
  margin: 0 6px 0 0;
}
.username:placeholder-shown,
.pass1:placeholder-shown,
.pass2:placeholder-shown {
  font-size: 17px;
  padding-left: 5px;
}
.username {
  margin-bottom: 11px;
}

#check-pass {
  display: block;
  transform: translateX(135px);
  color: rgb(182, 10, 10);
  font-size: 22px;
  padding-top: 5px;
}

.sign-up label {
  font-size: 18px;
}
.sign-up .check {
  transform: translateY(1.3px);
  width: 16px;
  height: 16px;
}
.sign-up button {
  border-radius: 5px;
  background-color: green;
  width: 140px;
  height: 33px;
  font-size: 18px;
  margin-top: 25px;
}

.sign-up button:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.sign-up #already {
  display: inline-block;
  margin: 10px 0 0 0;
  cursor: pointer;
  color: blue;
  font-size: 22px;
}
.sign-up #already:hover {
  text-decoration: underline;
}
.sign-up h4 {
  margin-top: 15px;
  font-size: 20px;
}

.btn-primary {
  margin-right: 10px;
}

footer {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: grey;
}
.languages {
  text-align: center;
}
.languages a {
  font-size: 18px;

  color: black;
  display: inline-block;
  margin: 15px 18px 0 0;
}
.languages a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.copyright {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
#google_translate_element {
  text-align: center;
}
/* Citrine Tab */

#buy,
#sell {
  cursor: pointer;
  color: rgb(19, 235, 19);
  right: 125px;
  bottom: 35px;
  background-color: grey;
  box-shadow: 3px 3px 4px grey;
  position: absolute;
  display: inline-block;

  width: 125px;
  height: 35px;
}
#buy {
  left: 60px;
}
#sell {
  right: 60px;
}
.content .ctitle {
  margin-top: 30px;
}

.crocks {
  padding: 0 25px 25px 25px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}
.crock {
  position: relative;
  width: 25rem;
  height: 28rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border: 5px solid grey;
  margin: 10px;
}
.crock h3 {
  padding: 30px 0 15px 0;
  word-wrap: break-all;
}

.crock p {
  padding-bottom: 25px;
  margin: 0 50px 0 50px;
}

.sign-up {
  display: none;
}
.log-in {
  display: none;
}

.buyContainer {
  display: none;
  display: flex;
  justify-content: center;
}
.buyContent {
  display: none;
  position: absolute;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  z-index: 10;
  width: 350px;
  height: 425px;
  background-color: grey;
}
.buyContentRaw {
  display: none;
  position: absolute;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  z-index: 10;
  width: 350px;
  height: 425px;
  background-color: grey;
}
.buyContentRaw h3 {
  margin: 10px 0;
}
.buyContentRaw h4 {
  margin: 10px 0;
}
.buyContentRaw .buyTitle {
  display: inline-block;
  font-size: 25px;
  margin: 15px 0;
}
.buyContentRaw input {
  padding-left: 17px;
  text-align: center;
  width: 75px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
}
.buyContentRaw .x {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 293px;
  top: 27px;
}
.buyContentRaw .x:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.buyContentRaw .x::before,
.buyContentRaw .x::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px; /* cross thickness */
  background-color: black;
}

.buyContentRaw .x::before {
  transform: rotate(45deg);
}

.buyContentRaw .x::after {
  transform: rotate(-45deg);
}
.buyContentRaw button {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  background-color: green;
  font-size: 15px;
  white-space: nowrap;
  width: 120px;
  height: 30px;
  margin: 5px 5px 0 5px;
}
.buyContentRaw button:hover {
  transform: scale(1.08);
}

/* Sphere  */

.buyContent h3 {
  margin: 10px 0;
}
.buyContent h4 {
  margin: 10px 0;
}
.buyContent .buyTitle {
  display: inline-block;
  font-size: 25px;
  margin: 15px 0;
}
.buyContent input {
  padding-left: 17px;
  text-align: center;
  width: 75px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
}
.buyContent input:placeholder-shown {
  padding-left: 3.2px;
}
.buyContent .x {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 293px;
  top: 27px;
}
.buyContent .x:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.buyContent .x::before,
.buyContent .x::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px; /* cross thickness */
  background-color: black;
}

.buyContent .x::before {
  transform: rotate(45deg);
}

.buyContent .x::after {
  transform: rotate(-45deg);
}
.buyContent button {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  background-color: green;
  font-size: 15px;
  white-space: nowrap;
  width: 120px;
  height: 30px;
  margin: 5px 5px 0 5px;
}
.buyContent button:hover {
  transform: scale(1.08);
}

/* Media */

@media screen and (max-height: 860px) {
  .crocks {
    margin-bottom: -100px;
  }
  .crock {
    margin: 10px;
    width: 25rem;
    height: 26rem;
  }
  .sign-up {
    top: 17%;
    left: 33%;
  }
  .log-in {
    top: 17%;
    left: 35%;
  }
  #buy,
  #sell {
    bottom: 20px;
    width: 100px;
    height: 35px;
  }
  #buy {
    left: 50px;
  }
  #sell {
    right: 50px;
  }
}
@media screen and (max-width: 1272px) {
  #buy,
  #sell {
    width: 70px;
  }
}
