.account-popup {
  transition: 0.5s ease-out;
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
  background-color: black;
}
.account-credentials {
  width: 100%;
  justify-content: right;
  display: flex;
  height: 7rem;
  border-bottom: 1px solid white;
}
.account-username {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-username h3 {
  font-size: 1.2rem;
  color: white;
  padding-top: 2.5rem;
}
.account-username p {
  padding-top: 0.3rem;
  color: grey;
}
.account-credentials img {
  z-index: 10;
  margin-top: 2rem;
  margin-right: 3.5rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
.account-lists {
  width: 100%;
  color: white;
  font-display: column;
}
.account-lists ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.account-lists ul li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

}
.account-lists ul li:hover {
  background-color: rgb(78, 78, 78);
  transition: background-color 0.5s;
}
.account-lists ul li:active {
  transition: background-color 0s;
  background-color: rgb(58, 58, 58);
}
.same {
  border: 1px solid black;
}
